<h1>Editing logins</h1>

<% form_for(@logins) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @logins %> |
<%= link_to 'Back', logins_path %>
